.content-button-wrapper {
  overflow: hidden;
}

.content-button-detail-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.restaurant-list-identity {
  flex-grow: 1;
  flex-shrink: 1;

  margin-left: 5px;
}

.restaurant-list-name {
  font-size: 1.1em;
}

.restaurant-list-address {
  color: #394B59;
}

.restaurant-list-distance-wrapper {
  display: flex;

  flex-grow: 0;
  flex-shrink: 0;

  width: 4.5rem;
  height: 4.5rem;
  margin-left: 5px;

  font-size: 1.3rem;
}

.restaurant-list-distance {
  align-self: center;
  margin: auto;
}