.app {
  display: flex;
  flex-flow: row nowrap;

  height: 100vh;
  width: 100vw;
}

.map-wrapper {
  order: 0;
  flex-grow: 1;

  height: 100%;
  width: 100%;
  z-index: 0;

  background-color: #f9f9f9;
}

.restaurant-list-wrapper {
  position: fixed;

  top: 10px;
  right: 10px;

  height: calc(100% - 40px);
  width: 25%;

  background-color: white;
}

.restaurant-detail-wrapper {
  position: fixed;

  top: 10px;
  right: calc(25% + 20px);

  height: calc(100% - 40px);
  width: 25%;

  background-color: white;
}

.card-wrapper {
  border-radius: 10px;

  overflow-y: scroll;
  overflow-x: hidden;
}
