.app {
  display: flex;
  flex-flow: row nowrap;

  height: 100vh;
  width: 100vw;
}

.map-wrapper {
  order: 0;
  flex-grow: 1;

  height: 100%;
  width: 100%;
  z-index: 0;
}

.restaurant-list-detail-wrapper {
  position: fixed;
  right: 0;

  display: flex;

  padding-right: 3px;

  height: 100%;  
  width: 60%;
  z-index: 1;
}

.restaurant-card-wrapper {
  flex-basis: 28%;
  flex-grow: 1;

  margin: 10px 3px;

  overflow-y: scroll;
  overflow-x: hidden;

  background-color: white;

  border-radius: 10px;
  box-shadow: -2px 2px 5px #E1E8ED;
}
