.extendable-content {
  margin: 5px 1px;
}

.extendable-content-c {
  margin-bottom: 5px;
}

.extendable-content-title {
  font-style: italic;
}

.extendable-content-body {

}

.extendable-content-link {
  
}
