.restaurant-detail-summary {
  margin-top: 10px;
  margin-bottom: 20px;
}

.restaurant-detail-name {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.ratings-not-found {
  font-style: italic;
  color: #394b59;
}
