.restaurant-detail-container {
  padding: 10px 10px;
}

.detail-wrapper {
  margin: 10px 10px;
  overflow-x: hidden;
}

.detail-header {
  margin-bottom: 7px;
}

.detail-not-found {
  font-style: italic;
}

.detail-navigation {
  display: flex;
  justify-content: flex-end;
}

.attribution-wrapper {
  display: flex;
  justify-content: flex-end;

  margin-top: 20px;
}

img.attribution {
  width: 110px;
}
