.restaurant-detail-container {
  position: relative;
  padding: 10px 10px;
}

.close-button-wrapper {
  position: absolute;
  top: 15px;
  right: 10px;
}

.detail-wrapper {
  margin: 10px 10px;
  overflow-x: hidden;
}
