.restaurant-list-filter {
  display: flex;
  flex-flow: row nowrap;

  background-color: white;

  padding: 15px 15px;
  position: sticky;
  top: 0;

  z-index: 10;

  border-bottom: solid 1px #CED9E0;
}

.search-input-wrapper {
  flex-grow: 1;
}

.refresh-button-wrapper {
  margin-left: 5px;
}