.restaurant-list-filter {
  display: flex;
  flex-flow: row nowrap;

  padding: 15px 15px;

  border-bottom: solid 1px #CED9E0;
}

.search-input-wrapper {
  flex-grow: 1;
}

.refresh-button-wrapper {
  margin-left: 5px;
}