.google-rating-stars {
  position: relative;
  font-size: 1.3em;
}

.google-rating-stars-base {
  color: #bfccd6;
  z-index: 0;
}

.google-rating-stars-overlay {
  position: absolute;
  top: 0;
  left: 0;

  color: #ffc940;
  z-index: 1;
  overflow: hidden;
}
