.extendable-content {
  margin: 5px 1px;
}

.extendable-content-c {
  margin-bottom: 5px;
}

.extendable-content-link {
  margin-left: 5px;
}

.toggle-extended {
  margin-left: 5px;
  color: #0e5a8a;
}

.toggle-extended:hover {
  cursor: pointer;
  text-decoration: underline;
}

.extendable-content-footer {
  display: flex;
  justify-content: flex-end;

  font-style: italic;
}
